.auth-page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-form {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth-form input {
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.auth-form button {
  padding: 14px;
  border-radius: 14px;
  border: none;
  background: #3e2723;
  color: white;
  cursor: pointer;
}
